<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<h2>Our Menu</h2>
<ul>
  <% @restaurant.dishes.each do |dish| %>
    <li><%= dish.name %></li>
  <% end %>
</ul>

<h2>All reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<!-- <#%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %> | -->
<%= link_to 'Create a new dish', new_restaurant_dish_path(@restaurant) %>

<!-- FORM -->
<h2>Leave a review for <%= @restaurant.name %></h2>

<!-- pass in an array when dealing with nested routes -->
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <!-- content input -->
  <%= f.input :content %>
  <%= f.button :submit, class: 'btn-primary' %>
  <!-- submit button -->
<% end %>


